<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISnApiService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://snapi.dataline.co.uk/SnApiService.svc/SnApiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISnApiService"
                contract="SnAPIService.ISnApiService" name="BasicHttpBinding_ISnApiService" />
        </client>
    </system.serviceModel>
</configuration>